<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Lista de Transacciones</h1>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-text">
                        <a>Id</a>
                    </h3>
                    <p class="card-text">Lorem ipsum</p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a>Dirección de compra</a>
                    </h4>
                    <p class="card-text">Lorem ipsum </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a>Fecha de creación</a>
                    </h4>
                    <p class="card-text">Lorem ipsum </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a>Número de referencia</a>
                    </h4>
                    <p class="card-text">Lorem ipsum </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a>Estado</a>
                    </h4>
                    <p class="card-text">Lorem ipsum </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a>Total Compra</a>
                    </h4>
                    <p class="card-text">Lorem ipsum </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a>Id. de tarjeta</a>
                    </h4>
                    <p class="card-text">Lorem ipsum </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a>Número de validación</a>
                    </h4>
                    <p class="card-text">Lorem ipsum </p>
                </div>
            </div>
        </div>
    </div>